<div class="container-fluid">
  <div class="pull-right">
  <a [routerLink]="['/user', userId, 'dashboard']">
              <span class="glyphicon glyphicon-dashboard">
              </span>

  </a>
  </div>
  <label for="location">Location</label>
  <input [(ngModel)]="location"
         name="location"
         id="location"
         placeholder="Example: San Diego"
         class="form-control">
  <button
    (click)="searchEvents(location)"
    class="btn btn-primary btn-block">Get Events
  </button>

  <div *ngIf="eventsExists">
    <li class="list-group-item" *ngFor="let eventFromList of eventsFound">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-9">
          <!--<a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageFromList['_id'], 'widget']">-->
          <a (click) = "displayEventDetail(eventFromList['id'])"> {{eventFromList['title']}}</a><br/>
<!--<div class="row" *ngIf="displayEventDetails">-->
  <!--Hello-->

  <!--{{eventFromList['description']}}-->
          <!--{{eventFromList['start_time']}}-->
<!--</div>-->
          <!--{{eventFromList['id']}}<br/>-->
          <!--<a href="{{eventFromList['url']}}">{{eventFromList['url']}}</a>-->
          <!--</a>-->
          <button (click)="addEventAsInterested(eventFromList)" type="button" class="glyphicon glyphicon-star-empty pull-right">

          </button>
        </div>
      </div>
    </li>
  </div>

  <div *ngIf="noEventsRetrieved" class="alert">
    No Events exist for this search criteria
  </div>


</div>
